@import url(./main.css);

.root{
    background: url(../assets/bghex.svg) center no-repeat;
    height: var(--height);
    width: var(--width);
    font-family: var(--font);
    color: rgba(var(--glass-color), 1);
}

.update-controller{
    display: none;
}

.root header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.root header h1{
    display: flex;
    align-items: center;
}

.root header h1 img{
    /* height: calc((var(--height)) * 0.3); */
    width: calc((var(--width)) * 0.1);
}

.root .welcome{
    width: var(--width);
    font-size: var(--large-text);
    font-weight: 800;
    text-align: center;
    font-style: italic;
}